* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #085343a6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    height: 350px;
    position: relative;
}

.container img {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    
}

.container:hover img:nth-child(1) {
    transform: translate(350px,.01px);
}

.container:hover img:nth-child(2) {
    transform: translate(.01px,400px);
}

.container:hover img:nth-child(3) {
    transform: translate(-350px,.01px);
}

.container:hover img:nth-child(4) {
    transform: translate(.01px,-400px);
}